.footer 
{
    background-color: gray;
    text-align: center;
} 
.body{
    /*background-color: lightgrey;*/
    min-height:500px;
    border:2px solid lightskyblue;
}
.subHeader
{
    height: 70px;
}
.section
{
    margin-top:10px;
    height: 30%;
    text-align: center;
    background-color: #ffffff;
    padding-left:0px!important;
    padding-right:0px!important;
}
.card-section
{
    height: 30%;
    margin-top: 50px;
    padding-left:0px!important;
    padding-right:0px!important;
}
.card
{
    text-align: center;
    background-color: #ffffff;
}
.sort-icon
{
    margin-left: 100px;
}
.nav-header{
    max-height: 50px;
}
.body-container
{   
    position: absolute;
}
.div-timer{
    background-color: lightgray;
    padding: 10px 0 10px 0;
}
.button-group-timer{
    padding-top:10px;
}
.timer-text{
    margin-top:50px;
    margin-bottom:50px;
}
.timer-text span{
    font:bold 100px arial, sans-serif;
    color:red;
    text-align: center;
}
.button-timer{
    width: 80px;
    margin-left: 10px;
}