.header
{
    /*background-color: gray;*/
    /*text-align: center;*/
}
.footer 
{
    background-color: gray;
    text-align: center;
} 
.body{
    /*background-color: lightgrey;*/
    min-height:500px;
    border:2px solid lightskyblue;
}
.subHeader
{
    height: 70px;
}
.section
{
    margin-top:10px;
    height: 30%;
    text-align: center;
    background-color: #ffffff;
    padding-left:0px!important;
    padding-right:0px!important;
}
.card-section
{
    height: 30%;
    margin-top: 50px;
    padding-left:0px!important;
    padding-right:0px!important;
}
.card
{
    text-align: center;
    background-color: #ffffff;
}